.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 214, 214);
    flex-grow: 0; 
    flex-shrink: 1; 
    flex-basis: auto

}


.detailImages {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 2fr 1fr 1fr; 
    width: 100%;
    height:320px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 15px;;
    
   
   
}
h1{
    text-align: left;
    margin-left: 12px;
    
}
p{
    text-align: left;
    margin-left: 12px;
   
}
 
#s0{
    grid-row: 1 / span 2; 
    grid-column: 1; 
    width: 95%; 
    height: 83%;
    margin: 0 auto;
    margin-top: 10px;
  
}

#s1{
    grid-row: 1; 
    grid-column: 2;
    width: 90%;
    height: 89%;
    margin: 0 auto;
    margin-top: 10px;
  






}

#s2{
    grid-row: 1; 
    grid-column: 3;
    width: 90%;
    height: 89%;
    margin: 0 auto;
    margin-top: 10px;




 
}

#s3 {
    grid-row: 2; 
    grid-column: 3;
    width: 90%;
    height: 70%;
    margin: 0 auto;




     

}

#s4{
    grid-row: 2;
    grid-column: 2;
    width: 90%;
    height: 70%;
    margin: 0 auto;



}
.callout-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.callout{
    box-shadow: 2px 2px 2px rgb(154, 157, 159);
    height:132px;
    width:265px;
    border-radius: 5px;
    
    border:1px solid lightgray;
    margin-bottom: 9px;

    
}
.calloutPrice{
    text-align:left;
    margin-left: 13px;

}
.reserve{
    background-color:#ff385c; 
    height:37px;
    width: 138px;
    border-radius: 4px;
    color:aliceblue;
    margin-top: 30px;
    border:0px;
    margin-left: 50px;
  

}


.hostedBy{
    margin-top: 8px;
    margin-bottom:0;
    text-align: left;
    margin-left: 12px;
}
.description{
    width: 550px;
}

.reviews-container{
    border: 1px solid rgb(218, 214, 214);
    margin-bottom: 15px;
    

}

.reviewer-name{
    margin:0;
    text-align: left;
    margin-left: 12px;

}
.reviewer-date{
    color:rgb(134, 134, 134);
    margin-bottom: 3px;
    margin:0;
    text-align: left;
    margin-left: 12px;
    

}
.des{
    margin-bottom: 30px;
}

#modal-content{
    border: 1px solid rgb(218, 214, 214);
    margin-bottom: 15px;
}

.postReview{
    background-color: #ff385c;
    border-radius: 3px;
    color: white;
    border:none;
    box-shadow: 2px 2px 2px rgb(218, 214, 214);
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
}