.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 214, 214);
    flex-grow: 0; 
    flex-shrink: 1; 
    flex-basis: auto

}


.detailImages {
    display: flex;
    justify-content: row;
    width: 90%; /* Full width */
    height: 50%;
   
    justify-content: center;
    /* Other styles for .detailImages */
  }
  
  .first-image {
   
    width: 60%;
    height: 80%; /* 90% of the parent height */
   

  }
  
  .second-images {


    width: 60%;
    height: 60%; /* 100% of the parent height */
  
    /* Styles for the image rows */
  }
  
  .image-row {
    width: 100%;
    height: 50%; /* Divide into two rows */
  }
  
  .image1{
    width: 50%;
    height: 30%; 
    float: left;
    box-sizing: border-box; 
  
    margin-top: 5px;;

  }
  .image2{
    width: 50%;
    height: 30%; 
    float: left;
    box-sizing: border-box; 
 
    margin-top: 5px;

  }
  .image3{
    width: 50%;
    height: 30%; 
    float: left;
    box-sizing: border-box; 
   

    margin-top: 10px;

  }
  .image4 {
    width: 50%;
    height: 30%; 
    float: left;
    box-sizing: border-box; 
   

    margin-top: 10px;
    
  }



  .header h1 {
    margin-bottom: 0; /* Remove margin from h1 elements in the header */
  }

 
 #s0{
 
    width:  540px;
    height: 320px;
  
 
  
}

#s1, #s2, #s3, #s4 {
    width: 260px;
    height: 149px;;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in calculations */
    float: left;
}
.callout-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.callout{
    box-shadow: 2px 2px 2px rgb(154, 157, 159);
    height:132px;
    width:265px;
    border-radius: 5px;
    
    border:1px solid lightgray;
    margin-bottom: 9px;

    
}
.calloutPrice{
    text-align:left;
    margin-left: 13px;

}
.reserve{
    background-color:#ff385c; 
    height:37px;
    width: 138px;
    border-radius: 4px;
    color:aliceblue;
    margin-top: 30px;
    border:0px;
    margin-left: 50px;
  

}


.hostedBy{
  
    margin-top: 30px;;
    text-align: left !important;
    
}


.reviews-container{
    border: 1px solid rgb(218, 214, 214);
    margin-bottom: 15px;
    

}

.reviewer-name{
    margin:0;
    text-align: left;
    margin-left: 12px;

}
.reviewer-date{
    color:rgb(134, 134, 134);
    margin-bottom: 3px;
    margin:0;
    text-align: left;
    margin-left: 12px;
    

}
.des{
    margin-bottom: 30px;
}

#modal-content{
    border: 1px solid rgb(218, 214, 214);
    margin-bottom: 15px;
}

.postReview{
    background-color: #ff385c;
    border-radius: 3px;
    color: white;
    border:none;
    box-shadow: 2px 2px 2px rgb(218, 214, 214);
    margin-bottom: 10px;
    height: 30px;
    width: 140px;
}

.spotDetails-entire-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;

}