.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 214, 214);
    flex-grow: 0; 
    flex-shrink: 1; 
    flex-basis: auto;
    


}



.detailImages {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 2fr 1fr 1fr; 
    width: 85%;
    height: 20%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}
  
.image0 {
    grid-row: 1 / span 2; 
    grid-column: 1; 
  
  }
#s0{
    width: 98%;
    height: 82.5%;
    padding: 10px;
}
#s1{
    width:98%;
    height:97%;
    padding: 10px;

}

#s2{
    width:98%;
    height:97%;
    padding: 10px;
}
#s3{
    width:97%;
    height:90%;
    padding: 10px;

}

#s4{
    width:100%;
    height:65%;
    padding: 10px;

}

.image1{
  
    grid-row: 1;
    grid-column: 2; 
}

.image2 {
    grid-row: 1; 
    grid-column: 3; 
    

  }

  .image3 {
    grid-row: 2; 
    grid-column: 2; 
    height: 70%;

  }

  .image4 {
    grid-row: 2; 
    grid-column: 3;

  }
.callout-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.callout{
    box-shadow: 2px 2px 2px rgb(154, 157, 159);
    height:132px;
    width:265px;
    border-radius: 5px;
    
    border:1px solid lightgray;
    margin-bottom: 9px;

    
}
.calloutPrice{
    text-align:left;
    margin-left: 13px;

}
.reserve{
    background-color:#ff385c; 
    height:37px;
    width: 86px;
    border-radius: 4px;
    color:aliceblue;
    margin-top: 30px;
    border:0px;
    margin-left: 50px;
    cursor: pointer;


}


.hostedBy{
  
    margin-top: -23px;
    margin-left: 100px;
    width:80%;
    
}
button{
    cursor: pointer;

}


.reviews-container{
    border: 1px solid rgb(218, 214, 214);
    margin-bottom: 15px;
    

}

.reviewer-name{
    margin:0;
    text-align: left;
    margin-left: 12px;

}
.reviewer-date{
    color:rgb(134, 134, 134);
    margin-bottom: 3px;
    margin:0;
    text-align: left;
    margin-left: 12px;
    

}
.description{
    margin-bottom: 30px;
    margin-left: 21px;
    width: 70%;
}

#modal-content{
    border: 1px solid rgb(218, 214, 214);
    margin-bottom: 15px;
}

.postReview{
    background-color: #ff385c;
    border-radius: 3px;
    color: white;
    border:none;
    box-shadow: 2px 2px 2px rgb(218, 214, 214);
    margin-bottom: 10px;
    height: 30px;
    width: 140px;
    margin-top: 3px;
}

.spotDetails-entire-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;

}

.header{
    margin-left: 87px;
}
.location-name{
    margin-left: 2px;
}

.reviewsContainer{
    width:75%
}