

.manageSpot-entire-container{
    display: flex;
    flex-direction: column;

}
.managAllContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}