.manageSpot-entire-container{
 
    width: 90%;
    
}

.headerStuff{
    display: flex;
    flex-direction: column;
    display: block;
    height: 20%;
    width: 70%;
    margin-left: 70px;
}

.managAllContainer{
   
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center; 
    padding-left: 70px;
   
    

}



