.manageSpot-entire-containe{
    display: flex;
    width: 90%;
    
}

.headerSpot{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.managAllContainer{
    display: flex;
}