#landingPageContainer{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    gap:20px;
}

.spot{

}

img{
    height: 233px;
    width: 311px;
    border-radius: 7px;
    z-index: 4;
    cursor: pointer;
}
p{
    
    height:3px;


}