#landingPageContainer{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
    max-width: 70%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center; 
    padding-left: 40px;
   

 

    
}



img{
    height: 233px;
    width: 311px;
    border-radius: 7px;
    cursor: pointer;

}

p{ 
    height:3px;
}

.tooltip{
    color:#ff385c;
    background-color:rgb(203, 203, 203) ;
    padding: 1rem;
    width: max-content;
    position: relative;
    bottom:60px;
    left:20px;
    border-radius: 3px;
    text-align: center;
    opacity: 0.8;


}

.fa-star{
    font-size: 15px;
    margin-right: 2px;
    margin-left: 30px;
    
}

