.container {
  
   
    overflow: auto; 
    max-width: 80%;
    border:1px solid red;
    margin:0 auto;
  
  }
  
  .form-container {
    border:5px solid purple;
    width: 80%;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 80%; 
  }
  


  

  h3,
  h4 {
    margin: 0;
    margin-left: 10px;
  }
  p{
    margin-bottom: 30px;
  }
  label{

    margin-left: 10px;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;

  }
  input{
    display: block;
    margin-left: 10px;
    margin-top: 2px;
    border-radius: 2px;
    border:1px solid lightgray;
    width:97%;
    margin-bottom: 10px;
  }

  .city-state-container {
    display: flex;
    width:100%;
    height:80px;
  

  }
  
  .input-group {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-right: 20px; 
    width:100%;
  }
  
  label {
    margin: 0;
    margin-bottom: 5px; 
    margin-top: 5px;
    margin-left: 10px;

    }


  input.city-input{
    width:100%;
  }

  input.state-input{
    width: 100%;
  }


  





  
 
  
  /* h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  h5 {
    font-size: 1.2em;
    margin-bottom: 5px;
  } */
  

  
  textarea {
    height: 80px;
    resize: vertical;
    margin-top: 20px;
  }
  
  .live-photos input[type="text"] {
    margin-top: 5px;
  }

  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  .error{
    color: red;
  }
  .enabled-button {
    background-color: #007bff; 
    color: #ffffff; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .disabled-button {
    background-color: rgb(187, 186, 186);
    color: rgb(115, 114, 114);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }



