/* TODO Add site wide styles */
#root {
/*   
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px;  */
    /* border:1px solid limegreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}

