.enabled-button {
    background-color: #ff385c;; 
    color: #ffffff; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 

  }

  .disabled-button {
    background-color: rgb(187, 186, 186);
    color: rgb(115, 114, 114);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 
  }

  .errors{
    color: red;
  }

  #modal-content{
    border-radius: 2px;
    border: 2px solid black;
    height:350px !important;
    width:400px;
  }


  .review-form{
   
    display: flex;
    flex-direction: column;
   


  }
  .review-stuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
   

  }
  h2{
    text-align: center;
  }


  .submit-button{
    width:250px;
  }

  .post-Review-Button{
    display: flex;
    justify-content: center;
  }

 

  .reviewtextBox{
    width: 90%;
    height: 90px;
  }

  .stars{
    width: 30%;
    margin-left: 40px;;
    
  }
  .stars-label{
    margin-left: 45px;;

  }

  .errors{
    color: red;
  }

 
 