.enabled-button {
    background-color: #ff385c;; 
    color: #ffffff; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 

  }

  .disabled-button {
    background-color: rgb(187, 186, 186);
    color: rgb(115, 114, 114);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 
  }

  .errors{
    color: red;
  }

  /* #modal-content{
    border-radius: 2px;
    border: 5px solid black;
    height:350px !important;
    width:471px;
  } */


  .review-form{
   
    display: flex;
    flex-direction: column;
    height:350px;
    width: 400px;
    background: white;
   


  }
  .review-stuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
   

  }
  h2{
    text-align: center;
    color:#ff385c;

  }


  .submit-button{
    width:250px;
  }

  .post-Review-Button{
    display: flex;
    justify-content: center;
  }

 

  .reviewtextBox{
    width: 90%;
    height: 90px;
  }

  

  .stars-label{
    color:#ff385c;
  text-align: center;

  }

  .errors{
    color: red;
  }

  .star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating label {
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    transition: color 0.2s;
    margin-right: 2px;
  }
  
  .star-rating label:before {
    content: "\2605";
  }
  
  .star-rating input[type="radio"]:checked ~ label {
    color: #ff385c;
  }
  
  .star-rating label:hover {
    color: #ff385c;
  }

 
 