.enabled-button {
    background-color: #007bff; 
    color: #ffffff; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .disabled-button {
    background-color: rgb(187, 186, 186);
    color: rgb(115, 114, 114);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .errors{
    color: red;
  }