.confirm{
    color:white;
    background-color: red;
    border: none;
    margin-right: 5px;
}

.deny{
    color: white;
    background-color: grey;
    border: none;

}

/* #modal-content{
height: 300px !important;
} */