.hidden {
    display:none
}

.airbnb{
    color:#ff385c; 
    margin-left: 10px; 
    font-size: 25px;


}

.fa-brands {
    margin-top: 10px;
    font-size: 50px;
}

i{
    font-size: 30px;
    color:#ff385c;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 214, 214);
    flex-grow: 0; 
    flex-shrink: 1; 
    flex-basis: auto
    
   

}
.airbnb-logo-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.signUp-login-container{
    margin-top: 10px;
    display: flex;
    gap:19px;
    height:27px;
}
.MenuButton{
   height:39px; 
   background-color: aliceblue;
   position: relative;
   border-radius: 5px;
}
.fa-solid {
    cursor: pointer;

   
}

.Menu-Options-container{
    z-index: 2px;
    box-shadow: 2px 2px gray;
    border:1px solid rgb(206, 202, 202);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    position: absolute;
    top:84px;
    right:125px;
    background-color: white;
    cursor: pointer;
    height:132px;
    width: 198px;
    
}

.menuButtons{
 
    width:100%;
    height:20%;
    padding-left:10px;
    padding-top: 10px;
    
}

.menuButtons:hover{
   background-color: rgb(247, 244, 244);
   width: 95%;
    
}

.Menu-Options-LoggedIn{
   
    box-shadow: 2px 2px gray;
    gap:10px;
    border:1px solid rgb(206, 202, 202);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:95px;
    right:225px;
    background-color: white;
    height:200px;
    width: 209px;
    
    
    
}
.Menu-Option{
    cursor: pointer;
    font-size: 15px; 
}
.Menu-Option:hover{
    background-color: rgb(207, 206, 206);
  
  
}

.createSpot{
    cursor: pointer;
    color:white;
    background-color: #ff385c;
    border:none;
    border-radius: 3px;
    height: 35px;
    width: 120px;
    box-shadow: 2px 2px 2px  rgb(207, 206, 206);

}

.Menu-Option1{
    width:200px;
    text-align: center;
    margin-top: 10px;;
    cursor: pointer;

}

.Menu-Option2{
    width:200px;
    text-align: center;
    cursor: pointer;

    
}
.Menu-Option3{
    width:200px;
    text-align: center;
    cursor: pointer;

    
}
.Menu-Option4{
    border-bottom: 1px solid rgb(207, 206, 206);
    width:200px;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;

    
    
}

.Menu-Option5{
    border-bottom: 1px solid rgb(207, 206, 206);
    width:200px;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;


    
}

.logout-button{
   background-color: #ff385c; 
   color: white;
   border-radius: 3px;
   border:none;
   box-shadow: 2px 2px 2px  rgb(207, 206, 206);
   cursor: pointer;

}




