.hidden {
    display:none
}

.airbnb{
    color:#ff385c; 
    margin-left: 10px; 
    font-size: 25px;


}

.fa-brands {
    margin-top: 10px;
    font-size: 50px;
}

i{
    font-size: 30px;
    color:#ff385c;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 214, 214);

}
.airbnb-logo-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.signUp-login-container{
    margin-top: 10px;
    display: flex;
    gap:19px;
    height:27px;
}

.fa-solid {
    cursor: pointer;
}



