.login-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slightly elevated appearance */
    z-index: 1; /* Higher z-index to make it pop out */
    height:420px;
    width:490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
    margin:auto
    
  }
  .Login-form-container.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  
  }
  
  .Login-form-container h1 {
    font-size: 24px;
    align-self: center;
  }
  
  /* .Login-form-container form {
    display: flex;
    flex-direction: column;
    align-items: left;
  
  } */
  
  .Login-form-container label {
    margin-bottom: 10px;
    font-weight: bold;

  }
  
  .Login-form-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }
  
  /* .Login-form-container p {
    color: #ff0000;
    margin-bottom: 20px;
  
  } */
  
  .enabled-button {
    background-color: #ff0000;
    color: #ffffff; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 40px;
    width:100px;
  }

  .disabled-button {
    background-color: rgb(187, 186, 186);
    color: rgb(115, 114, 114);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 40px;;

  }

  /* .Login-form-container button :disabled{
    background-color: darkblue;
  } */



  
  .animated-form h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  

  
  .animated-form button {
    margin-top: 15px;
    
  }

  .demoUser{
    color:purple;
    margin-top: 25px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid purple;
    width:90px;
    margin-left: 77px;

    
  }

#password{
  width: 80%;
}

#creditial{
  width: 80%;
}



 

 